# התעלמות מכל תיקיית הדאטה מ-OSF (כולל תתי-תיקיות)
newland etal OSF/

# התעלמות מתיקיית התוכנה של EEGLAB (אם אין חובה להעלות את התוכנה עצמה)
eeglab_current (1)/

# התעלמות מקבצי הגדרות של סביבת הפיתוח
.idea/
